@using AnimaLove.Models
@using AnimaLove.ViewModels
@model MessagesViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
          integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@700&family=Josefin+Sans:ital,wght@0,400;1,700&family=Nunito+Sans&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@700&family=Josefin+Sans:ital,wght@0,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="icon" href="~/assets/img/icon-img.png">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/messages.css">
    <title>AnimaLove</title>
</head>

<body>
    <main class="content">
        <div class="container p-0">



            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">

                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search..."
                                           id="input-search">
                                </div>
                            </div>
                        </div>



                        @foreach (var user in Model.users)
                        {
                            if (user.UserName != User.Identity.Name)
                            {
                                <a asp-controller="Follower" asp-action="GetOthersProfile" asp-route-id="@user.Id" class="list-group-item list-group-item-action border-0">
                                    <div class="d-flex align-items-start">
                                        <img src="~/assets/img/@user.ProfileImage"
                                             class="rounded-circle mr-1" alt="profile image" width="40" height="40">
                                        <div class="flex-grow-1 ml-3">
                                            <p class="contact-name">@user.FullName</p>

                                        </div>
                                    </div>
                                </a>
                            }

                        }
                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>
                    <div class="col-12 col-lg-7 col-xl-9">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="~/assets/img/12ef7819-35d2-40b2-b092-bcd67e60eca1_aziz.jpg"
                                         class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                </div>
                                <div class="flex-grow-1 pl-3">
                                    <strong>Ferrux Aliyev</strong>

                                </div>

                            </div>
                        </div>

                        <div class="position-relative">
                            <div class="chat-messages p-4" id="messagesList" style="height:500px">

                                <div class="chat-message-right pb-4">
                                    <div>
                                        <img src="~/assets/img/05eb2ecb-afbd-48b7-8d29-0ea0ccbc1833_image-girllll.jpg" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                        <div class="text-muted small text-nowrap mt-2">2:33 </div>
                                    </div>
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                        <div class="font-weight-bold mb-1">You</div>
                                       Hello I want to help you about your animal.
                                    </div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="~/assets/img/12ef7819-35d2-40b2-b092-bcd67e60eca1_aziz.jpg" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">

                                        <div class="text-muted small text-nowrap mt-2">2:34 </div>
                                    </div>
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                        <div class="font-weight-bold mb-1">Ferrux Aliyev</div>
                                       Hello,Sure  </div>
                                </div>
                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="~/assets/img/12ef7819-35d2-40b2-b092-bcd67e60eca1_aziz.jpg" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">

                                        <div class="text-muted small text-nowrap mt-2">2:34 </div>
                                    </div>
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                        <div class="font-weight-bold mb-1">Ferrux Aliyev</div>
                                        How you want to help? </div>
                                </div>

                                <div class="chat-message-right mb-4">

                                    <div>
                                        <img src="~/assets/img/05eb2ecb-afbd-48b7-8d29-0ea0ccbc1833_image-girllll.jpg" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                        <div class="text-muted small text-nowrap mt-2">2:35 </div>
                                    </div>
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                        <div class="font-weight-bold mb-1">You</div>
                                        <p>You posted about scar on yor cat's paw right?</p>
                                    </div>
                                </div>





                            </div>
                        </div>

                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <div class="input-group">
                                @*<input type="text" class="form-control" placeholder="User" id="userInput">*@
                                <input type="text" class="form-control" placeholder="Type your message" id="messageInput">
                                <button class="btn send-message" id="sendButton" >Send</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    @*scripts started*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/sending-message.js"></script>

    <script src="~/assets/js/hamburger-bars.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/slider.js"></script>
    <script src="~/assets/js/messagesearch.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/chat.js"></script>

</body>

</html>
