
@{
    ViewData["Title"] = "Index";
}

<!-- main started -->

<main>
    <!-- who-are we section started -->
    <section id="who-are-we">
        <div class="who-are-we">
            <div class="who-are-we-inner">
                <div class="who-are-we-title">
                    <p>Who Are we?</p>
                </div>
                <div class="who-are-we-info">
                    <div class="info-item">
                        <p>
                            he about us page is commonly used by all types of businesses to give customers more insight into who is involved with a given business and exactly what it does. The history of a business is often provided, and the histories of the people in charge are usually expressed through short articles, usually accompanied by photographs.

                            Depending on the specific company, some information about goals, attitude or other aspects of culture that aren't strictly tied to business practices are included as well. The about us page is often a reflection of the purpose and personality of the business and its owners or top employees. Finally, the page can also incorporate contact or locational information. One way to view the about us concept is as a text self-portrait or short autobiography created by a business.
                        </p>
                    </div>
                    <div class="info-item">
                        <img src="./assets/img/dog kitten.jpg" alt="animals">
                    </div>
                </div>
                <div class="info-item info-item-center">
                    <p>
                        The primary purpose of an about us page is to inform the reader about the company and its operations. This is a straightforward goal that nearly all businesses have to fulfill in some fashion or another. However, there are other reasons why about us pages are common fixtures on business websites. The text on these pages is a marketing tool for a business, enticing potential customers with both the history and the aspirations of a business, as well as adding a human element. Additionally, about us pages are incorporated into search-engine marketing efforts as a way to find potential customers through Web searches.
                       
                    </p>
                </div>
                <div class="about-us-slide">
                    <div class="slider-about-us">
                        <div class="slider-about-us-item">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- who-are we section ended -->
</main>
<!-- main ended -->
