@using AnimaLove.ViewModels

@model PostViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- main started -->
<main>
    <section id="posts">
        <div class="posts">
            <div class="posts-inner">



                @foreach (var post in Model.Posts)
                {
                    <div class="post-card">

                        <div class="post-img">
                            <div class="box-sender">
                                <p>@post.userName</p>
                            </div>

                            <img src="~/assets/img/@post.PostImage" alt="image">

                        </div>
                        <div class="title-icons">



                            <p class="post-title">@post.PostTitle</p>
                            <div class="post-icons">
                               <a asp-controller="Message" asp-action="Index"><i class="fa-solid fa-message"></i></a>
                            </div>
                        </div>
                        <div class="post-description">
                            <p>
                              @post.PostDescription
                            </p>
                        </div>
                    </div>

                }

            </div>
        </div>
    </section>
</main>

<!-- main ended -->
