.product{
    margin-top: 50px;
}
.product-title{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 30px;
         font-weight: 600;
         color: $first-theme-color;
         text-transform: uppercase;
    }
}
.product-price{
    color: green;
    font-size: 25px;
    font-weight: 700;
}
.shop-for{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{font-weight: 700;
        font-size: 35px;
        text-transform: uppercase;
    }
}
.categories{
    display: flex;
    justify-content: center;
    ul{
        margin-top: 20px;
        display: flex;
        list-style: none;
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 30px;
            font-weight: 600;
            p{
                color: $second-theme-color;
            }
        }
    }
}
.active{
    color: $first-theme-color !important;
}
.card-item{
    margin-top: 30px;
    margin-left: 65px !important;
    
    box-sizing: border-box;
   
    width: 350px;
    height: 500px;
    div.product-image{
        padding: 10px;
        box-sizing: border-box;
        width: 350px;
        height: 350px;
        margin-top: 80px;
        img{
            width: 100%;
            height: 100%;
        }
        div.product-context{
            width: 350px;
            height: 150px;
            p{
                text-align: center;
            }
        }
    }
}
.product-context{
    p{
        text-align:center ;
    }
}
.product-name{
    font-size: 30px;
    font-weight: 600;
}
.product-description{
    color: gray;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more-main{
    margin-top: 90px;
}

    .load-more{
        margin-top: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
     border: 1px solid $first-theme-color;
    width: 200px;
    background-color: white;
    height: 50px;
    transition: 1s;
    a{
        color: $first-theme-color;
        font-size: 25px;
        font-weight: 600;
    }
    p{
         color: $first-theme-color;
        font-size: 25px;
        font-weight: 600;
    }
   
}

.column{
    margin-top: 40px;
      float: left;
      width: 33%;
}
.active-categories-item{
    color: $first-theme-color !important;
}
@media only screen and (min-width: 1000px) and (max-width: 1202px) {

 .column {
    width: 33%;
   display: inline-block;
   margin-left: 75px;
   .card-item{
       width: 350px;
       .product-image{
 img{
           width: 350px;
           height: 350px;
       }
       }
      
   }
  }
  .categories{
   padding: 15px;
   box-sizing: border-box;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}

}
@media only screen and (min-width: 900px) and (max-width: 1000px) {

 .column {
    width: 33%;
   display: inline-block;
   margin-left: 85px;
   .card-item{
       width: 250px;
       .product-image{
 img{
           width: 250px;
           height: 250px;
       }
       }
      
   }
  }
  .categories{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 20px;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}

}
@media only screen and (min-width: 750px) and (max-width: 900px) {

 .column {
    width: 33%;
   display: inline-block;
   margin-left: 55px;
   .card-item{
       width: 250px;
       .product-image{
 img{
           width: 250px;
           height: 250px;
       }
       }
      
   }
  }
  .categories{
   padding: 15px;
   box-sizing: border-box;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}

}
@media only screen and (min-width: 650px) and (max-width: 750px) {

 .column {
    width: 33%;
   display: inline-block;
   margin-left: 55px;
   .card-item{
       width: 250px;
       .product-image{
 img{
           width: 250px;
           height: 250px;
       }
       }
      
   }
  }
  .categories{
   padding: 15px;
   box-sizing: border-box;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}

}
@media only screen and (min-width: 650px) and (max-width: 750px) {

 .column {
    width: 50%;
   display: inline-block;
   margin-left: 85px;
   .card-item{
       width: 350px;
       .product-image{
 img{
           width: 350px;
           height: 350px;
       }
       }
      
   }
  }
  .categories{
   padding: 15px;
   box-sizing: border-box;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}

}
@media only screen and (min-width: 550px) and (max-width: 650px) {

 .column {
    width: 50%;
   display: inline-block;
   margin-left: 75px;
   .card-item{
       width: 350px;
       .product-image{
 img{
           width: 350px;
           height: 350px;
       }
       }
      
   }
  }
  .categories{
   padding: 15px;
   box-sizing: border-box;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}

}
@media only screen and (min-width: 450px) and (max-width: 550px) {

 .column {
    width: 50%;
   display: inline-block;
   margin-left: 5px;
   .card-item{
       width: 250px;
       .product-image{
 img{
           width: 250px;
           height: 250px;
       }
       }
      
   }
  }
  .categories{
margin-right: 80px;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
.product-title{
    margin-right: 80px;
}

}
@media only screen and (min-width: 350px) and (max-width: 450px) {

 .column {
    width: 50%;
   display: inline-block;
   margin-left: 5px;
   .card-item{
       width: 250px;
       .product-image{
 img{
           width: 250px;
           height: 250px;
       }
       }
      
   }
  }
  .categories{
margin-right: 40px;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
.product-title{
    margin-right: 40px;
}

}
@media only screen and (min-width: 350px) and (max-width: 450px) {

 .column {
    width: 50%;
   display: inline-block;
   margin-left: 5px;
   .card-item{
       width: 250px;
       .product-image{
 img{
           width: 250px;
           height: 250px;
       }
       }
      
   }
  }
  .categories{
margin-right: 20px;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
.product-title{
    margin-right: 20px;
}

}
.add-basket{
   
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    width: 200px;
    background-color: $first-theme-color;
    height: 50px;
    transition: 1s;
    a{
        color: white;
        font-size: 25px;
        font-weight: 600;
    }
    p{  margin-top: 10px;
        color: white;
        font-size: 25px;
        font-weight: 600;
    }
    &:hover{
        background-color: white;
        border: 1px solid $first-theme-color;
        a{
            color: $first-theme-color;
        }
        p{
          
            
            color: $first-theme-color;
        
        }
    }
}
.add-basket{
    z-index: 5;
}
.main-add-basket{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterDiv {
  


  display: none;
}

.show {
  display: block;
}

@media only screen  and (width: 375px) {
    .product-image{
        width: 280px;
    }
  .column {
    width: 100%;
   display: inline-block;
   margin-left: -50px;
  }
  .categories{
     display: 
 flex;
    ul{
       
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}
@media only screen  and (width: 414px) {
  .column {
    width: 100%;
   display: inline-block;
   margin-left: -40px;
  }
  .categories{
   display: 
 flex;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}
@media only screen  and (width: 390px) {
  .column {
    width: 100%;
   display: inline-block;
   margin-left: -40px;
  }
  .categories{
      display: 
 flex;
    ul{
     
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}
@media only screen  and (width: 393px) {
  .column {
    width: 100%;
   display: inline-block;
   margin-left: -40px;
  }
  .categories{
   display: 
 flex;
    ul{
       
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}
@media only screen  and (width: 360px) {
  .column {
    width: 100%;
   display: inline-block;
   margin-left: -60px;
  }
  .categories{
   display: 
 flex;
    ul{
     
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}
@media only screen  and (width: 412px) {
  .column {
    width: 100%;
   display: inline-block;
   margin-left: -30px;
  }
  .categories{
   display: flex;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 17px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}
@media only screen  and (width: 820px) {
  .column {
    width: 50%;
   display: inline-block;
   margin-left: -20px;
  }
  .categories{
   
    ul{
      
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}
@media only screen  and (width: 768px) {
    .product-image{
        width: 320px;
    }
  .column {
    width: 50%;
   display: inline-block;
   margin-left: -30px;
  }
  .categories{
   
    ul{
      
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}

@media only screen  and (width: 912px) {
    .product-image{
        width: 290px;
    }
  .column {
    width: 50%;
   display: inline-block;
   margin-left: -50px;
  }
  .categories{
   
    ul{
      
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}

@media only screen  and (width: 540px) {
  .column {
    width: 100%;
   display: inline-block;
   margin-left: 40px;
  }
  .categories{
   
    ul{
      
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}

@media only screen  and (width: 1024px) {
  .column {
    width: 36%;
   display: inline-block;
   margin-left: 40px;
  }
  .categories{
   
    ul{
      
       
        li{ cursor: pointer;
            font-size: 25px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}

@media only screen  and (width: 280px) {
  .column {
    width: 100%;
   display: inline-block;
   margin-left: -55px;
   .card-item{
       width: 250px;
       .product-image{
 img{
           width: 250px;
           height: 250px;
       }
       }
      
   }
  }
  .categories{
   padding: 25px;
   box-sizing: border-box;
    ul{
      
       
        li{ cursor: pointer;
            font-size: 12px;
            margin-left: 10px;
            font-weight: 600;
           
        }
    }
    
}
}

