@model AnimaLove.Models.Post 
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="posts">
        <div class="posts">
            <div class="posts-inner">



              
                    <div class="post-card">

                        <div class="post-img">
                           

                            <img src="~/assets/img/@Model.PostImage" alt="image">

                        </div>
                        <div class="title-icons">



                            <p class="post-title">@Model.PostTitle</p>
                            <div class="post-icons">
                                <div class="edit">
                                    <a asp-controller="Post" asp-action="EditPost" asp-route-id="@Model.Id">Edit Post</a>
                                    <a asp-controller="Post" asp-action="DeletePost" asp-route-id="@Model.Id" class="text-danger">Delete Post</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-description">
                            <p>
                              @Model.PostDescription
                            </p>
                        </div>
                    </div>

                

            </div>
        </div>
    </section>
</main>

