@using AnimaLove.Models


@model List<AppUser>

@{
    ViewData["Title"] = "Index";
}
<main>
    <div class="followers">
        <div class="followers-inner">
            <div class="followers-title">
                <p>Followings</p>
            </div>
            <div class="followers-list">
                <div class="followers-list-inner">
                    <div class="followers-items">
                        @foreach (var user in Model)
                        {
                            <div class="follower-single-item-main">
                                <div class="follower-single-item">
                                    <img src="~/assets/img/@user.ProfileImage" alt="profile image">
                                    <div class="follower-username-box">
                                        <a style="color:black;" asp-controller="Follower" asp-action="GetOthersProfile" asp-route-id="@user.Id"> <p class="follower-username">@user.UserName</p></a>
                                    </div>
                                </div>
                                <div class="follow-button">
                                   

                                        
                                      
                                            <div class="follow-main">
                                                <a style="color:white;" asp-controller="Following" asp-action="UnfollowAction" asp-route-id="@user.Id"> Unfollow</a>
                                            </div>
                                       
                                    
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
