
@{
    ViewData["Title"] = "Index";
}


<!-- main started -->
<main>
    <section id="product">
        <div class="product">
            <div class="product-inner">
                <div class="shop-for">
                    <p>Shop For your Dog</p>
                </div>


                <div class="cards">

                    <div class="cards-row container">
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/dog-food.webp" alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Celsie Food</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$28.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/FELIX®-Original-Tuna-in-Jelly-Wet-Cat-Food_1.webp"
                                         alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Felix Food</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$35.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/cat food2.webp" alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Cat Food</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$35.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/dog-collar.jpg" alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Dog Collar</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$65.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/dog collar2.jpg" alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Dog Collar</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$35.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/fish food.jpg" alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Fish food</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$35.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/parrot-food-2.jpeg" alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Parrot food</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$35.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/dog-muzzle.jpg" alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Dog Muzzle</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$35.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-items">
                            <div class="card-item ">
                                <div class="product-image">
                                    <img src="./assets/img/fish-food-2.jpg" alt="product image">
                                </div>
                                <div class="product-context">
                                    <p class="product-name">Fish Food</p>
                                    <p class="product-description">
                                        Celsie dog foods is very necessery for dogs
                                        health. I live in Ukrain. I lost
                                        my parent
                                        house. Can u help me? lore m ipsum dolor
                                    </p>
                                    <p class="product-price">$35.99</p>
                                    <div class="main-add-basket">
                                        <div class="add-basket">
                                            <p>Add Basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
</main>
<!-- main ended -->
